<div #map></div>

<ul class="list-group">
  <li *ngFor="let colorMarker of markers; let i = index"
    [ngStyle]="{ backgroundColor:colorMarker.color}"
    (dblclick)="deleteMarker(i)"
    (click)="flyTo( colorMarker.marker)"
     class="list-group-item">
    Marker {{ i + 1 }}
  </li>
</ul>

<button (click)="goToUserLocation()"  class="btn btn-primary ubication">
  Ir a mi ubicación
</button>

<!-- <button (click)="createMarker()"  class="btn btn-primary marker">
  + Agregar Marcador
</button> -->
